@import "../../global"

.search__icon 
    font-size: $Size-L
    color: $txt-lightgrey
    cursor: pointer

/* --------- Modal Style ---------- */
.search__icon2 
    cursor: pointer
    margin-right: 10px


.search__content 
    width: 100%
    background: $txt-lightgrey
    position: absolute
    left: 0
    top: 0
    display: flex
    flex-direction: column
    z-index: 1000
    margin-top: -100%
    transition: margin-top 0.5s
    overflow-y: scroll


.showSearch 
    height: 100vh
    margin-top: 0%
    transition: margin-top 0.5s


.search__input 
    font-family: $Font-Ubuntu
    font-size: $Size-S
    color: $txt-darkblue
    height: 2.5rem
    width: 90%
    padding: 0.5rem
    align-self: center
    margin-top: 1.5625rem


.search__close 
    color: $txt-darkblue
    font-size: 2.5rem
    text-align: center
    padding: 0.5rem
    width: 2.5rem
    height: 2.5rem
    align-self: center
    cursor: pointer


.search__topsearch,
.search__lastsearch 
    align-self: flex-start
    margin: 1.25rem 1.25rem
    text-align: start
    padding: 0rem 1.25rem
    width: 90%


.search__subtitle 
    font-family: $Font-Ubuntu
    text-align: start
    font-size: $Size-S
    color: $txt-darkblue


.search__history,
.search__top 
    margin-top: 0.625rem


.search__link 
    font-size: 0.875rem
    color: $txt-darkgrey
    cursor: pointer
